body {
    background-color: lightblue;
    }
    
    h1 {
    color: navy;   
    }
    .box{
        margin:13px;
        padding:40px;
        background-color: azure;
        color:navy;
        border-radius: 20px;
    }